$primary-color: #A6D9C6;
$primary-color-shade: #9BD4BF;
$primary-color-dark: #5B9279;
$black-color: #12130F;
$white-color: #FFFFFF;
$text-color: $white-color;
$font-family: Arial, sans-serif;
$font-family-title: 'ParisAvenue', Arial, sans-serif;